*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header{
    color: black;
    text-align: center;
}

button{
    background-color: gray;
    width: 150px;
    height: 30px;
}

button:focus{
    background-color: brown;
}

a{
    color: darkslateblue;
}

embed{
    height: 500px;
    width: 600px;
}

.column1{
    width: max-content;
    float: left;
    padding-top: 20px;
}

.column2{
    width: max-content;
    float: left;
    padding-left: 15px;
    padding-top: 20px;
}


.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode .header{
    color: white;
}

.dark-mode a{
    color: white;
}

.light-mode {
    background-color: white;
    color: black;
}