* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: #e5e9ec;
}

.header .activeTab{
    background-color: #bc2c1a;
    color: white;
}

/* .header{
    color: black;
    text-align: center;
} */

.header button{
    transition: 0.5s;
    border-radius: .3 ease-in;
    background-color: gray;
    border-radius: 10px;
    width: 150px;
    height: 30px;
}

.header button:hover {
    scale: 1.5;
    border-radius: 100px;
}

.header button:focus {
    background-color: brown;
}

.collapsible {
    background-color: #444;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 75%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #444;
}

.collapsible:after {
  content: '\02795';
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}

.recipe {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}