* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.edinburghCastleImage,
.gulfossImage,
.countrysideImage {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.edinburghCastleImage {
    background-image: url("https://github.com/Drew-bit-dev/drew-bit-dev.github.io/blob/main/images/EdinburghCastle.jpg?raw=true");
    min-height: 550px;
}

.countrysideImage {
    background-image: url("https://github.com/Drew-bit-dev/drew-bit-dev.github.io/blob/main/images/Countryside.jpg?raw=true");
    min-height: 600px;
}

.gulfossImage {
    background-image: url("https://github.com/Drew-bit-dev/drew-bit-dev.github.io/blob/main/images/Gulfoss.jpg?raw=true");
    min-height: 600px;
}


.footer {
    position: absolute;
    bottom: 10px;
    padding: 3px;
    font-size: x-small;
    color: white;
}

button {
    transition: 0.5s;
    border-radius: .3 ease-in;
    background-color: gray;
    border-radius: 10px;
    width: 150px;
    height: 30px;
}

button:hover {
    scale: 1.5;
    border-radius: 100px;
}

button:focus {
    background-color: brown;
}

.activeTab{
    background-color: #bc2c1a;
    color: white;
}

a {
    color: darkslateblue;
}

embed {
    height: 500px;
    width: 600px;
}

.column1 {
    width: max-content;
    float: left;
    padding-top: 20px;
}

.column2 {
    width: max-content;
    float: left;
    padding-left: 15px;
    padding-top: 20px;
}

.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode .header {
    color: white;
}

.light-mode {
    background-color: white;
    color: black;
}

h1 {
    color: green
}

h2 {
    font-size: 1.1em;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}